{% extends 'base.html' %}
{% block title %} 
    New Category
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<br>
<h1>Create new category tag</h1>

<div class="post shadow">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="form-group">
            <br>
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-secondary shadow border">Submit</button>
    </form>
</div>
</br>
<a href="{% url 'home' %}" class="btn btn-secondary shadow border">Home</a>

{% else %}

    <div class="post shadow">
        <h2 class="post-title">You shouldn't be here...</h2>
            </br>
        <div class="post-detail">
            <h5 class="card-title"><small>It's a big internet, easy to get lost.</small></h5>
        </div>
    </div>

{% endif %}

{% endblock %}
