{% extends 'base.html' %}
{% block title %} 
    New Post
{% endblock %}
{% block content %}


{% if user.is_authenticated %}
<br>
<h1>New Post</h1>

<div class="post shadow">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}" style="color: #000000;">Title</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.author.id_for_label }}" style="color: #000000;">Author</label>
            {{ form.author }}
        </div>
        <div class="form-group">
            <label for="{{ form.body.id_for_label }}" style="color: #000000;">Body</label>
            {{ form.body }}
        </div>
    </br>
        <button type="submit" class="btn btn-secondary shadow border">Submit</button>
    </form>
</div>
</br>
<a href="{% url 'home' %}" class="btn btn-secondary shadow border">Home</a>

{% else %}

    <div class="post shadow">
        <h2 class="post-title">You shouldn't be here...</h2>
            </br>
        <div class="post-detail">
            <h5 class="card-title"><small>It's a big internet, easy to get lost.</small></h5>
        </div>
    </div>

{% endif %}

{% endblock %}
