{% extends 'base.html' %}
    {% block title %} 
        {{ post.title }} 
    {% endblock %}
{% block content %}


</br>
</br>
<div class="post shadow">
    <h2 class="post-title">{{ post.title }}</h2>
        </br>
    <div class="post-detail">
        <h5 class="card-title"><small>By: {{ post.author.first_name }} {{ post.author.last_name }}</small></h5>
        <p class="author mt-2 mb-0">
            {{ post.pub_date|date:"F d, Y" }}
        </p>
    </br>
        <p class="card-text">{{ post.body|safe }}</p>
    </div>
    <p class="author mt-2 mb-0">
        <a>Category tag: </a><a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
    </p>
</div>
</br>
<a href="{% url 'home' %}" class="btn btn-secondary shadow border">Home</a>
{% if user == post.author %}
<a> | </a>
<a href="{% url 'update-post' post.pk %}" class="btn btn-secondary shadow border">Edit</a>

{% endif %}


{% endblock %}