{% extends 'base.html' %}

{% block title %} 
    Delete Post
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <br>
    <br>
    <div class="post shadow">
        <h2 class="post-title">Delete Post</h2>
        </br>
        <div class="post-detail" style="color: #000000;">
            <h3>Delete post: {{ post.title }}</h3>
            <form id="deleteForm" method="POST" class="form-group">
                {% csrf_token %}
                <strong>Are you sure you want to delete this post?</strong>
                <br>
            </form>
        </div>
            <br>
            {% if user.is_authenticated %}
            <button id="deleteButton" class="btn btn-danger shadow border">Delete</button>
            {% endif %}
            <a> | </a>
            <a href="{% url 'update-post' post.pk%}" class="btn btn-secondary shadow border">Cancel</a>
    </div>
    </br>

    <script>
        document.getElementById('deleteButton').addEventListener('click', function() {
            document.getElementById('deleteForm').submit();
        });
    </script>
    
    {% else %}

    <div class="post shadow">
        <h2 class="post-title">You shouldn't be here...</h2>
            </br>
        <div class="post-detail">
            <h5 class="card-title"><small>It's a big internet, easy to get lost.</small></h5>
        </div>
    </div>

{% endif %}

{% endblock %}
