{% extends 'base.html' %}

{% block content %}

<br>
<h1>OCI Learning Journey</h1>
<hr>

<br>
{% for post in object_list %}
    <div class="container mb-4">
        <a href="{% url 'article-detail' post.pk %}" class="text-decoration-none card-link">
            <div class="card shadow rounded">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }} - <small>{{ post.author.first_name }} {{ post.author.last_name }}</small></h2>
                    <p class="card-text">{{ post.body|truncatechars:25 }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}

